.card-body ul { 
	list-style-type: none; 
	font-size: 20px;
}

ul li a {
	color: #6c757d!important;
	cursor: pointer;
}

.title {
	color: white;
}

.sideMenu {
	padding: 0;
}

#panelHistory {
	display: none;
}

.title {
	margin: auto;
	font-size: 24px;
	font-weight: bold;
}

.container { 
	padding-left: 0px;
}